<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InTest" value="TRUE"/>

    <!-- Connection String for Access database that contains Product and Print History -->
    <add key="ConnectionStringLocal" value="Server=GOP001539\MSSQLSERVER2;Database=GOPScales;Integrated Security=True;"/>
    <add key="ConnectionString" value="Server=10.1.0.23;Database=GOPScales;Integrated Security=True;"/>
    <add key="ConnectionStringName" value="Server=PRDTKLNXSDBW01;Database=GOPScales;Integrated Security=True;"/>
    <!--add key="ConnectionStringAlpha" value="Server=14.0.1000.169;Database=Alpha_archive;Integrated Security=True;"/-->
    <add key="ConnectionStringAlpha" value="Server=PRDALPHASQLDB01;Database=Alpha_archive;Integrated Security=True;"/>

    <add key="ConnectionStringTongues" value="Server=10.1.0.23;Database=Tongues;Integrated Security=True;"/>
    <add key="ConnectionStringOffal" value="Server=10.1.0.23;Database=Offal;Integrated Security=True;"/>
    <add key="ConnectionStringTrim" value="Server=10.1.0.42;Database=Scale_4;Integrated Security=True;"/>
    <!--add key="ConnectionStringGrinding" value="Server=10.1.0.23;Database=GOPScales;Integrated Security=True;"/-->
    <add key="ConnectionStringCombo" value="Server=10.1.0.23;Database=Combo;Integrated Security=True;"/>
    <add key="ConnectionStringSteak" value="Server=10.1.0.23;Database=Scales;Integrated Security=True;"/>
    <add key="ConnectionStringPatty" value="Server=10.1.0.23;Database=Pattyline;Integrated Security=True;"/>


    <!-- Temp area where label files will be stored - this folder will be cleared of *.lab files whenever the application starts -->
    <add key="TempWorkFolder" value="\LabelStorage\"/>
    <add key="ScaleNumber" value="13"/>
    <!-- Serial port for Scale    NOTE: Scale MUST be set to 9600,N,8,1  Do NOT include a : in the port name. -->
    <add key="ScalePort" value="COM1"/>
    <!-- Ending text for line that contains weight -->
    <add key="ScaleWeightEndText" value="lb"/>



    <!-- Windows Printer Name for Label Printer NOT NEEDED-->
    <!--add key="LabelPrinterName" value="Datamax-O'Neil M-4206 Mark II"/-->
    <add key="LabelPrinterName" value="SATO CL4NX 305dpi"/>

    <!-- Location of template file for label
            NOTE: the template MUST contain the application tokens so that live data is included on label
            Refer to Label Notes.txt for information on the tokens. -->

    <add key="PrintTemplateLocation_Tongues" value="\PrintTemplates\TonguesTemplate.prn"/>
    <add key="PrintTemplateLocation_Offal" value="\PrintTemplates\OffalTemplate.prn"/>
    <add key="PrintTemplateLocation_Trim" value="\PrintTemplates\TrimTemplate.prn"/>
    <add key="PrintTemplateLocation_Chubb" value="\PrintTemplates\Box Line 4.5x3.lab_18_teresa.lab"/>
    <add key="PrintTemplateLocation_Combo" value="\PrintTemplates\ComboTemplate.prn"/>
    <add key="PrintTemplateLocation_Steak" value="\PrintTemplates\SteakTemplate.prn"/>
    <add key="PrintTemplateLocation_Patty" value="\PrintTemplates\PattyTemplate.prn"/>

    <add key="KiloConversionRate" value=".45359237"/>

    <!-->add key="logfile" value="\\192.168.20.146\carcount\Combov2\prod"/-->
    <!-->add key="logfile2" value="\\192.20.20.2\winshare\Combov2\prod"/-->
  </appSettings>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>


  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>


</configuration>
