<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="InTest" value="TRUE"/>

    <!-- Connection String for Access database that contains Product and Print History -->
    <add key="ConnectionStringLocal" value="Server=GOP002100;Database=GOPScales;Integrated Security=True;"/>
    <!--add key="ConnectionStringLocal" value="Server=GOP001539\MSSQLSERVER2;Database=GOPScales;Integrated Security=True;"/-->
    <add key="ConnectionStringNetwork" value="Server=10.1.0.23;Database=GOPScales;Integrated Security=True;"/>
    <add key="ConnectionString" value="Server=10.1.0.23;Database=GOPScales;Integrated Security=True;"/>


    <!-- Temp area where label files will be stored - this folder will be cleared of *.lab files whenever the application starts -->
    <add key="TempWorkFolder" value="\LabelStorage\"/>
    <add key="ScaleNumber" value="13"/>

    <!-- Location of template file for label -->
    <!--add key="PrintTemplateLocation_Chubb" value="\PrintTemplates\ChublineTemplate.lab"/-->
    <add key="PrintTemplateLocation_Chub" value="\PrintTemplates\hubScaleTemplate.btw"/>
    <add key="KiloConversionRate" value=".45359237"/>

    <add key="QRReaderComPort" value="COM6"/>
    <add key="ScaleComPort" value="COM1"/>
  </appSettings>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>


  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>


</configuration>
